---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% if forloop.first %}
    {% include archive-single.html %}
    {% continue %}
  {% endif %}
  {% if forloop.counter0 == 1 %}
    {% include archive-single.html %}
    {% continue %}
  {% endif %}
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
          <a>{{ post.title }}</a>
      </h2>
      <p> {{ post.type }}, <i>{{ post.venue }}</i> </p>
{% endfor %}
