---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% if forloop.first %}
    {% include archive-single.html %}
  {% endif %}
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="">
        </div>
      {% endif %}
  
      <h2 class="archive__item-title" itemprop="headline">
          <a>{{ title }}</a>
      </h2>
      <p> {{ post.type }}, <i>{{ post.venue }}</i> </p>
{% endfor %}
