{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <!-- <h3 class="archive__item-title" itemprop="headline"> -->
      <a >{{ title }} </a>
    <!-- </h3> -->
    {% if post.venue%}<p class="archive__item-excerpt" itemprop="description">{{ post.citation }} {% if post.file%}<a href="{{ base_path }}{{ post.file }}" rel="permalink">[PDF]</a>{% endif %}</p> {% endif %}
    </li>
 </article>
</div>
